extends base

block content
    - const formattedPrice = price => price.toLocaleString("en-NG", { style: "currency", currency: "NGN", minimumFractionDigits: 0 });
    header.hero
            .hero__image
                img(src="https://static.rdc.moveaws.com/images/hero/default/2021-11/jpg/hp-hero-desktop.jpg")
            form.hero__form.container(action="post")
                h1 Find your next home.
                p Let’s find a home that’s perfect for you
                .hero__btn-box
                    a.hero__btn.hero__btn--buy.btn(href='/property') All
                    a.hero__btn.hero__btn--buy.btn(href='#') Buy
                    a.hero__btn.hero__btn--buy.btn(href='#') Rent
                    a.hero__btn.hero__btn--shortlet.btn(href='#') Shortlet
                    a.hero__btn.hero__btn--land.btn(href='#') Land
               
                if (!user)
                    nav.hero-btn
                        a.btn.hero__el.hero-btn-el(href='/login') Login
                        a.btn.hero__el.hero-btn-el.hero-btn-el--cta(href='/signup') Sign Up
                

    section.feature
        .container
            h2.section__title Featured Properties
            .feature__content
                each property in properties
                    if property.featured
                        .feature__card(data-prop-id=property.id)
                            a(href=`/property/${property.id}`).feature__card-img-box
                                img.feature__card-img(src=`/img/properties/${property.imageCover}`)
                                .overlay
                            .feature__card-detail-box
                                .feature__card-detail
                                    h4.feature__card-detail-name= property.name
                                    h5.feature__card-detail-location= `${property.location.city}, ${property.location.state}`
                                    p.feature__card-detail-price= formattedPrice(property.price)
                                    p.feature__card-detail-type= property.type
                                if (user && user.bookmark && user.bookmark.includes(property.id))
                                    span(class="bookmark active material-symbols-sharp") bookmark
                                else 
                                    span(class="bookmark material-symbols-sharp") bookmark


                               
                                

    //- section.service
    //-     .container
    //-         h2.section__title Services
    //-         .service__box
    //-             .service__card
    //-                 img.service__card-img(src="https://images.propertypro.ng/logo/VendorCategory-ba8V9ADQlE3J03Z.jpg")
    //-                 .service__card-text
    //-                     h3 Electrician 
    //-                     p 42 Vendors
    //-             .service__card
    //-                 img.service__card-img(src="https://images.propertypro.ng/logo/VendorCategory-vnIjXjHbKi2RqnY.jpg")
    //-                 .service__card-text
    //-                     h3 Plumbers 
    //-                     p 17 Vendors
    //-             .service__card
    //-                 img.service__card-img(src="https://images.propertypro.ng/logo/VendorCategory-TwGfENlnPGYyWZE.jpg")
    //-                 .service__card-text
    //-                     h3 Painters 
    //-                     p 40 Vendors
    //-         button.service__btn.btn View more service
    
    //- section.blog
    //-     .container 
    //-         h2.section__title Recent from the Blog
    //-         .blog__content
    //-             each blog in blogs           
    //-                 .blog__card
    //-                     .blog__card-img-box 
    //-                         img.blog__card-img(src='https://www.propertypro.ng/blog/wp-content/uploads/2023/04/pexels-max-rahubovskiy-6588578-150x150.jpg')
    //-                         .overlay
    //-                     .blog__card-detail
    //-                         h5.blog__card-heading Interior design Trends For The Bedroom in 2023
    //-                         p.blog__card-text= blog.content
    //-                         a(href=`/blog/${blog.id}`).blog__card-btn.btn READ MORE
                    
                  

